<h1>Feed</h1>

<div class="main" style="margin: 0 auto;position:relative;">
<% @videos.each do |video| %>

  
   <div id="vidds" style="background-color:#DCDCDC;margin:10px;float:left;padding:15px;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;"><h6 style="text-align:center;"><%= "#{ video.title}" %></h6> <%=link_to 'Show', video, :class => "btn " %> </div>
   
  

<% end %>

</div>
<br />


