<h1>Videos</h1>

<div class="main" style="margin: 0 auto;position:relative;">
<% @videos.each do |video| %>

  
   <div id="vidds" style="background-color:gray;width: 220px;margin: 10px;float: left;padding:5px;"><h6><%= "#{ video.title}" %></h6>  <a id="viddy"href="<%="#{video.viddy}"  %>"/></a><%=link_to 'Show', video, :class => "btn " %></div>
   
  

<% end %>

</div>
<br />


