<h1>Feed</h1>

<div class="main" style="margin: 0 auto;position:relative;">
<% @videos.each do |video| %>

  
   <div id="vidds" style="background-color:gray;margin:10px;float:left;padding:15px;-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;"><h6 style="text-align:center;"><%= "#{ video.title}" %></h6>  <a id="viddy"href="<%="#{video.viddy}"  %>"/></a><%=link_to 'Show', video, :class => "btn " %></div>
   
  

<% end %>

</div>
<br />


